[submodule "tests"]
	path = op-geth/tests/testdata
	url = https://github.com/ethereum/tests
	shallow = true
[submodule "evm-benchmarks"]
	path = op-geth/tests/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
	shallow = true
[submodule "optimism"]
	path = optimism
	url = https://github.com/Rcontre360/optimism.git
